google-api-core
google-api-python-client
google-auth
google-auth-httplib2
google-auth-oauthlib
google-cloud-bigquery
google-cloud-core
google-cloud-storage
google-crc32c
google-pasta
google-resumable-media
google-cloud-storage-transfer
googleapis-common-protos
jmespath==0.10.0
pycodestyle==2.6.0
PyYAML==5.4.1
